<launch>
    <arg name="port_uno" value="/dev/ttyACM0"/>
    <arg name="port_mega" value="/dev/ttyACM1"/>

    <param name="robot_description" command="xacro --inorder /home/complubot/Documents/POLLOTRON/CODE/ros/pollotron/src/az5_model/urdf/robot.urdf"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    
    <node pkg="rosserial_python" name="pollotron_motors" type="serial_node.py" args="$(arg port_mega)" output="screen" respawn="true" />
    <node pkg="az5" type="motor_replayer" name="motor_replayer"/>

    <include file="/home/complubot/Documents/POLLOTRON/CODE/ros/rplidar/src/rplidar_ros/launch/rplidar.launch" />
    <node pkg="az5" name="laser_filter" type="laser_filter" output="screen" respawn="true" />

    <node pkg="az5" name="local_planner" type="local_planner" output="screen" respawn="true" />
    <node pkg="az5" name="global_planner" type="global_planner" output="screen" respawn="true" />

    <!--><node pkg="az5" name="laser_point_cloud" type="laser_point_cloud" output="screen" respawn="true" /><!-->

    <!--><node pkg="az5" name="sounds" type="sounds" respawn="true" /><!-->
    <!--><node pkg="az5" name="robot_monitor" type="robot_monitor" output="screen" respawn="true" /><!-->

    <!--JOYSTICK>
        <node pkg="az5" name="joystick_reader" type="joystick_reader" output="screen" respawn="true" />
    <!-->
    <!--REALSENSE>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="filters" value="pointcloud"/>
    </include>
    <!-->
    
    <node pkg="rosserial_python" name="us_reader" type="serial_node.py" args="$(arg port_uno)" output="screen" respawn="true" />
    <node pkg="az5" name="us_filter" type="us_filter" output="screen" respawn="true" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find az5)/maps/slam_map1.yaml"/>

    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
        <param name="fixed_frame" value = "odom"/>                                                                 
        <param name="use_odom" value="false"/>
        <param name="use_imu" value="false"/>                                                                      
        <param name="publish_odom" value = "true"/>                                                                
        <param name="max_iterations" value="10"/>
        <param name="kf_dist_linear" value="0.05"/>
        <param name="kf_dist_angular" value="0.1"/>
        <param name="publish_pose_stamped" value="true"/>                                                              
    </node>

</launch>