<launch>
  <param name="robot_description" command="xacro --inorder /home/complubot/Documents/POLLOTRON/CODE/ros/pollotron/src/az5_model/urdf/robot.urdf"/>
  <node pkg="az5_model" type="fake_movement" name="joint_state_publisher"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/complubot/Documents/POLLOTRON/CODE/ros/pollotron/src/az5_model/rviz/robot_config.rviz"/>
</launch>