<launch>
    <arg name="port" value="/dev/ttyACM0"/>
    <node pkg="controller" name="controller_reader" type="controller_reader" output="screen" respawn="true" />
    <node pkg="rosserial_python" name="us_reader" type="serial_node.py" args="$(arg port)" output="screen" respawn="true" />
    <node pkg="controller" name="us_filter" type="us_filter" output="screen" respawn="true" />
    <node pkg="controller" name="robot_monitor" type="robot_monitor" output="screen" respawn="true" />
    <node pkg="controller" name="pollotron" type="pollotron" output="screen" respawn="true" />
</launch>